.contacts{
    color: brown;
    font-size: 30px;
    padding: 10px;
    display: inline-block;
}

.link{
    color: rgb(162, 30, 0);
    font-size: 50px;
    padding: 15px;
}

.conteiner{
    outline: brown 1px solid;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
}
